# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bv_debug
test/test

# IDE stuff
.vscode/*
.idea/*

#Gcov
*.gcda 
*.gcno 
*.gcov 
test/*.gcdna 
test/*.gcno 
test/*.gcov
index.info
target/

#benchmark results
*.tsv